.mainContainer {
    width: 100%;
    background-color: #990909;
}

.header {
    display: block;
    margin: 0 auto;
}

.imgContainer {
    width: 100%;
    background-color: #000000;
}

.imgWrapper {
    display: inline-block;
    margin: 0 auto;
    align-items: center;
}
.imgWrapper>p {
    color: white;
}

.leftColumn {
    background-color: #890000;
}

.leftColumn>p {
    color: #ED3700;
    text-decoration: underline;
    background-color: #890000;
}

.copyright {
     background: #FC4D00;
     text-align: center;
     color: white;
     font-weight: 700;
 }